<?xml version="1.0"?>

<launch>
<node name="onboard_logging" pkg="vigir_ocs_logging" type="logger.py" output="screen">
    <param name="enable_Log_grabbing" type="bool" value="true" />
    <param name="logging_location" type="str" value="/home/testing/Experiments" />
    <param name="logger_name" type="str" value="onboard_" />
    <rosparam param="to_log">[ '/flor/controller/mode', '/flor/controller/mode_command', '/flor/controller/robot_status', '/flor/controller/status',
      '/flor/controller/atlas_state', '/flor/controller/joint_command', '/flor/controller/joint_control', '/flor/controller/raw_state', '/flor/controller/actuator_state',
      '/flor/controller/raw_actuator',
      '/trajectory_controllers/right_arm_traj_controller/state',
      '/trajectory_controllers/right_arm_traj_controller/command',
      '/trajectory_controllers/right_arm_traj_controller/follow_joint_trajectory/goal',
      '/trajectory_controllers/right_arm_traj_controller/follow_joint_trajectory/feedback',
      '/trajectory_controllers/right_arm_traj_controller/follow_joint_trajectory/result',
      '/trajectory_controllers/left_arm_traj_controller/state',
      '/trajectory_controllers/left_arm_traj_controller/command',
      '/trajectory_controllers/left_arm_traj_controller/follow_joint_trajectory/goal',
      '/trajectory_controllers/left_arm_traj_controller/follow_joint_trajectory/feedback',
      '/trajectory_controllers/left_arm_traj_controller/follow_joint_trajectory/result',
      '/joint_controllers/right_arm_joint_limit_traj_controller/follow_joint_trajectory/goal',
      '/joint_controllers/right_arm_joint_limit_traj_controller/follow_joint_trajectory/cancel',
      '/joint_controllers/right_arm_joint_limit_traj_controller/follow_joint_trajectory/feedback',
      '/joint_controllers/right_arm_joint_limit_traj_controller/follow_joint_trajectory/result',
      '/joint_controllers/left_arm_joint_limit_traj_controller/follow_joint_trajectory/goal',
      '/joint_controllers/left_arm_joint_limit_traj_controller/follow_joint_trajectory/cancel',
      '/joint_controllers/left_arm_joint_limit_traj_controller/follow_joint_trajectory/feedback',
      '/joint_controllers/left_arm_joint_limit_traj_controller/follow_joint_trajectory/result',
      '/flor/controller/encoder_offsets',
      '/flor/controller/interface_statistics',
      '/flor/controller/controller_statistics',
      '/flor/controller/controller_status',
      '/flor/controller/interface_status',
      '/robot_controllers/footstep_controller/execute_step_plan/cancel',
      '/robot_controllers/footstep_controller/execute_step_plan/feedback',
      '/robot_controllers/footstep_controller/execute_step_plan/goal',
      '/robot_controllers/footstep_controller/execute_step_plan/result',
      '/flor/controller/walk_command',
      '/flor/controller/step_command',
      '/flor/controller/walk_feedback',
      '/flor/controller/step_feedback',
      '/robot_controllers/footstep_controller/execute_step_plan/cancel',
      '/mode_controllers/control_mode_controller/change_control_mode/cancel',
      '/mode_controllers/control_mode_controller/change_control_mode/feedback',
      '/mode_controllers/control_mode_controller/change_control_mode/goal',
      '/mode_controllers/control_mode_controller/change_control_mode/result',
      '/vigir_move_group/cancel',
      '/vigir_move_group/feedback',
      '/vigir_move_group/goal',
      '/vigir_move_group/result',
      '/vigir_move_group/status',
      '/pose_body',
      '/flor/controller/bdi_to_world_frame',
      '/flor/controller/raw_bdi_pose',
      '/move_group/display_planned_path',
      '/hand_controllers/left_hand_traj_controller/follow_joint_trajectory/goal',
      '/hand_controllers/right_hand_traj_controller/follow_joint_trajectory/goal',
      '/hand_controllers/left_hand_traj_controller/command',
      '/hand_controllers/right_hand_traj_controller/command',
      '/flor_ocs_bandwidth',
      '/bridge_status',
      '/vigir_foobar'
   ] </rosparam>
</node>
</launch>
